* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    
}
#membership {
    padding-top: 18px;
}

p{
    padding-top: 5px;
}
.second {
    color: blue;
    text-decoration: underline;
}

.free {
    background-color: white;
    box-shadow: 2px 2px 50px gainsboro;
    margin-left: 200px;
    width: 22rem;
    height: 33rem;
    border: 2px solid rgb(245, 233, 233);
    border-radius: 7px;
    margin-left: 300px;
}
.line {
    width: 16rem;
    height: 1.6px;
    background-color:  rgb(227, 217, 217);
    margin: 0 auto;
}

.button {
    width: 135px;
    height: 45px;
    border-radius: 25px;
    background-color: #0d6efd;
    color: white;
}

.main {
    display: flex;
    /* justify-content: space-evenly; */
} 

.premium {
    background-color: white;
    box-shadow: 2px 2px 50px gainsboro;
    margin-left: 200px;
    width: 22rem;
    height: 33rem;
    border: 2px solid rgb(245, 233, 233);
    border-radius: 7px;
}